<form action="#" method="post" class="last">
    <button class="w3view-cart" type="button" onclick="window.open('/gio-hang', '_self')"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i><span class="badge" id="Cart_Amount">@Model</span></button>
</form>