@model IEnumerable<BanDongHo.Models.About>
@{
    ViewBag.Title = "Giới thiệu về chúng tôi";
    Layout = "~/Views/Shared/_ShowroomLayout.cshtml";
}
@foreach (var item in Model)
{
    <br />
    <div class="col-md-offset-1 col-md-10 col-md-offset-1">
        <h2 style="color: mediumaquamarine">@ViewBag.Title</h2>
        <br />
        <h3>@item.Title</h3>
    </div>

    <div class="col-md-offset-1 col-md-10 col-md-offset-1">
        <br />
        <p>@item.Content</p>
        <br />
    </div>
}

